# Python

## Keywords and Identifiers

In [ ]:
multline = (10 + 15 * 56 +
            45 / 2)
vegetables = ["cucumber",
                "tomato"]
x = 4;y = 5;z = 6;
print(multline, vegetables, x, y, z, sep = "\n")

## Indentation

In [ ]:
for i in range(5):
    if i % 2 == 0:
        print(i*"*")
    else:
        print(i*"^")
if True: print("hello");a = 100

## Comments

In [ ]:
#This is a comment using a hashtag
"""This is a comment using triple quotes
which can be used in multiline comments as well"""

In [ ]:
#Doc string comments used fro displaying the commments inside a given function
def func(num):
    """This is a function to double the given number"""
    return num*2
print(func.__doc__)
print(func(2))

## Variables

In [ ]:
string = "funny"
print(string)
type(string)

In [ ]:
a = 32
b = a
print(id(a))
print(id(b))
print(a)
a = 800
print(id(a))
print(a, b)

In [ ]:
a = b = c = 90
print(a, b, c)
a, b = 45, 60
print(a, b, c)
#Variables can be named with underscores or alphabets

In [ ]:
def func(num):
    #Scope of variables a, f is in the function adn when printed outside the function you will get an error
    a = 5
    f = 10
    return num + a - f
print(func(10))
print(f)

In [ ]:
var = 100
def func(num):
    global var
    print(var)
    var = "hundred"
    print(var)
print(var)
func(10)
print(var)

## Strings

In [ ]:
#Slicing
ogstr = "Love, Time, Death"
print(ogstr[:])
print(ogstr[::])
#First 4 characters
print(ogstr[:4])
#Seventh to Eleventh character
print(ogstr[6:10])

In [ ]:
ogstr = "Love, Time, Death"
slice_obj1 = slice(0, 4, 1)
slice_obj2 = slice(6, 10, 1)
slice_obj3 = slice(12, 17, 1)
print(ogstr[slice_obj1], ogstr[slice_obj2], ogstr[slice_obj3], sep = "\n")

In [ ]:
#reversing a string
ogstr = "Love, Time, Death"
print(ogstr[::-1])

# Data Types

In [ ]:
a = 100
b = "ThisisString"
c = 20.5
d = 4 + 11j
print(type(a), type(b), type(c), type(d))

In [ ]:
str1 = "Butter"
str2 = "Fly"
print(str1 + str2)

## Lists

In [ ]:
list1 = ["blue", "red", "green", "purple", 1, 18.5]
print(list1)
print(type(list1))
print("Fourth element of the string", list1[3])
print("Third to last element of the string is ", list1[2: ])
print("First to fourth element of the list is", list1[:3])
list2 = ["noir", "vert"]
print(list1+list2)

## Tuple

In [ ]:
tup = ("sorry", "comedy", 5)
print(type(tup))
print(tup)
print(tup[:1])
print(tup[1:])
print(tup + tup)
print(tup*3)
tup[2] = "hi"

## Dictionary

In [ ]:
namesdict = {1: "Rohit", 2: "Amit", 3: "Pratham"}
print(namesdict)
print("First name is ", namesdict[1])
print("Second name is ", namesdict[3])
print(namesdict.keys())
print(namesdict.values())

## Boolean

In [ ]:
print(type(True))
print(type("h" in "comedy"))

## Set

In [ ]:
set1 = set()
set2 = {"Udit", "comedy", 98, 0.5}
print(set2)
set2.add("Funny")
print(set2)
set2.remove("Udit")
print(set2)

# Type Conversion

## Implicit Type conversion

In [ ]:
intvar = 10
intfloat = 5.65
intnew = intvar + intfloat
print(intvar, type(intvar))
print(intfloat, type(intfloat))
print(intnew, type(intnew))
intstr = "500"
#print(intvar + intstr)  -> gives an error

## Explicit Type conversion

In [ ]:
intnum = 20
intstr = "30"
print("Before type Conversion -", intstr, type(intstr))
intstr = int(intstr)
print("After type Conversion -", intstr, type(intstr))
print(intstr + intnum)

# Operators

## Arithmetic Operators

In [ ]:
a = 7
b = 5

print("Addition =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)
print("Quotient =", a // b)
print("Remainder =", a % b)
print("PowerOf =", a ** b)

## Comparison Operators

In [ ]:
a = 7
b = 5

print('a > b is',a > b)
print('a < b is',a < b)
print('a == b is',a == b)
print('a <= b is',a <= b)
print('a >= b is',a >= b)
print('a != b is',a != b)

## Logical Operators

In [ ]:
m = True
n = False
print("m =", m, "n =", n)
print('m and n is',m and n)
print('m or n is',m or n)
print('not m is',not m)

## Assignment Operators

In [ ]:
n = 5
print(n)
n += 2
print(n)
n -= 4
print(n)
n *= 4
print(n)
n /= 2
print(n)
n **= 2
print(n)
n %= 5
print(n)

# Identity Operators
Checks identity not if they are equal

In [ ]:
num1 = 10
num2 = 10
str1 = 'Welcome'
str2 = 'Welcome'
list1 = [10,20,30]
list2 = [10,20,30]

print(num1 is not num2)

print(str1 is str2)

print(list1 is list2)

## Membership Operators

In [ ]:
str1 = "hello"
list1 = [1, 2, 3, 4]

print(5 in list1)
print("H" not in str1)
print("l" in str1)

# Control Loops

## IF Statement

In [ ]:
n = 0
if n > 0:
    print(f"{n} is positive")
elif n == 0:
    print(f"{n} is zero value")
else:
    print(f"{n} is negative")

Nested IF

In [ ]:
n = 15.0
if n > 0:
    if n - int(n) > 0:
        print(f"{n} is a positive float type value")
    else:
        print(f"{n} is a positive integer type value")

## For Loops

In [ ]:
for i in range(6):
    print(i, end = " ")
print("")
nums = [1, 2, 3, 4 ,5]
for i in nums:
    if i%2 == 0:
        print(i, end = " ")

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
for i in nums:
    if i == 3:
        print("Element was found")
        break
for i in nums:
    if i == 3:
        continue
    print(i, end = " ")

## While Loops

In [18]:
nums = [11, 24, 12, 72, 82]
n = sums = 0
while n < len(nums):
    sums += nums[n]
    n += 1
print(f"Sum of the entire list is {sums}")

counter = 0
while counter <= 4:
    print(counter)
    counter += 1
else:
    print("Counter is now greater than 4")

Sum of the entire list is 201
1
2
3
4
5
Counter is now greater than 4